<!DOCTYPE html>
{% extends 'core/base.html' %}


{% block content %}

    <h1>Ваша страница</h1>
<p>{{user}} <span> Вы  - {{user.get_role_display}}</span> </p>

{% if user.photo %}
        <img style="max-width: 100px; margin: 0 auto;" src="{{user.photo.url}}" alt="{{user.first_name}}">

{% endif %}

<hr style="margin: 1rem auto; width: 50%; border-bottom: black solid 1px;">


{% for u in users %}
{% if u.role != 1 %}



<a href="{% url 'user_profile' u.pk %}"><p>{{u.first_name}} {{ u.last_name}} <span> - {{u.get_role_display}}</span> </p></a>

{% endif %}
{% endfor %}



{% endblock content %}