{% extends 'core/base.html' %}

{% block content %}
    <h2>Вход в профиль</h2>
    <form action="" method="post">
        {% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
    <div class="form_error">{{ form.non_field_errors }}</div>
    <div class="form_container">
    {% for field in form %}
    <div class="group">
        
        {{ field }}
        <span class="highlight"></span>
      <span class="bar"></span>
      <label  for="{{ field.id_for_label }}">{{ field.label }}:</label>
        <div class="form_error">{{ field.errors }}</div>
    </div>
    {% endfor %}
    </div>
        <button class="btn" type="submit">войти</button>
    </form>
<div class="forgot_password" onclick="location.href='{% url 'register' %}'">не зарегестрированы ?</div>
<p class="forgot_password" onclick="location.href='{% url 'password_reset' %}'">забыли пароль ?</p>
<p class="forgot_password" onclick="location.href='{% url 'home' %}'">на главную</p>
{% endblock content %}