{% extends 'core/base.html' %}

{% block content %}
    <h1>Восстановление пароля</h1>
    <form action="" method="post">
        {% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
    <div class="form_error">{{ form.non_field_errors }}</div>
    <div class="form_container">
    {% for field in form %}
    <div class="group">
        
        {{ field }}
        <span class="highlight"></span>
      <span class="bar"></span>
      <label  for="{{ field.id_for_label }}">{{ field.label }}:</label>
        <div class="form_error">{{ field.errors }}</div>
    </div>
    {% endfor %}
    </div>
        <button class="btn" type="submit">Воccтановить</button>`
    </form>

{% endblock content %}