{% extends 'core/base.html' %}
{% block extra_css %}
    <!-- Стили только для этой страницы -->

    <style>
        .user_profile_wrapper{
            width: 360px;
            margin-inline: auto;
        }
        p{
            font-size: 1rem;
        }
        hr{
            margin: 0.5rem auto;
            width: 100px;
            border-bottom: #098BCC dotted 1px;
        }
        .user_main_info{
            margin-top: 1rem;
            margin-bottom:0.5rem;
        }
        .user_image_box{
            border: 5px solid #c3eafcff;
            width: 75px;
            height: 75px;
             margin: 0 auto;
             border-radius: 50%;
             overflow: hidden;
                
        }
        .user_image_box img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .logo_box{
            width: 240px;
            margin: 0 auto;
        }
        .logo_image{
            width: 50%;
            
        }

        .customer_bids{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin-bottom: 1rem;
            font-size: 1rem;
            justify-content: center; 
            width: 240px; 
            margin-inline: auto;  
        }
        .customer_bids_info{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100px;
            height: 100px;
            border-radius: 1rem;
            padding:1rem;
            font-size: 1rem;
            background: radial-gradient(ellipse farthest-corner at center center, #FAFAFA 0%, #CFF4FF 100%);
            cursor: pointer;
            justify-content: space-between;
            transition: 0.3s;
            border: 1px solid #a0e0fdff;
        }

        .bid_info{
            align-self:flex-end;
        }

        .customer_bids_wrapper{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;
            width: 240px;
            margin-inline: auto;
            margin-bottom: 1rem;
            text-align: center;
            
        }
        .customer_bid_wrapper{
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            border-bottom: 1px solid #a0e0fdff;
            padding-bottom: 0.5rem;     
        }
        .child_bid_item{
            color: #098BCC;
        }

        .customer_buttons{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;
        }
        .customer_button{
          display: flex;
          justify-content: center;
          position: relative;
          width: 240px;
          margin-inline: auto;
          border-radius: 8px;
          padding:1rem;
          font-size: 1.2rem;
          background: radial-gradient(ellipse farthest-corner at center center, #FAFAFA 0%, #CFF4FF 100%);
          cursor: pointer;
          border: 1px solid #a0e0fdff;
        }

        .customer_button:hover, .customer_bids_info:hover{
          background: radial-gradient(ellipse farthest-corner at center center, #FAFAFA 0%, #bef0ffff 100%);

        }
        .offers_info{
          display: flex;
          gap: 1rem;
          justify-content: center;
          margin-bottom: 1rem;
        }
       .check_offers{
        position: relative;
        font-size: 1.2rem;
       }
       .check_offers::after{
        content: "❗";
        margin-left: 0.5rem;
        color: green;
       }
    </style>

{% endblock extra_css %}

{% block content %}
<div x-data="{ open: false }" class="user_profile_wrapper">
<div class="logo_box"><img class="logo_image" src="{{logo.image.url}}" alt="{{logo.note}}"></div>
    
<div class="user_main_info">


{% if user.photo %}
<div class="user_image_box"><img  src="{{user.photo.url}}" alt="{{user.first_name}}"></div>
        
{% elif user.sex == 1 %}
        <div class="user_image_box"><img  src="{{alt_photo.image.url}}" alt="{{user.first_name}}"></div>
{% else %}
       <div class="user_image_box"> <img  src="{{alt_woman_photo.image.url}}" alt="{{user.first_name}}"></div>

{% endif %}
<p>{{user.first_name}}</p>
<hr>
</div>
{% if user.is_authenticated %}
<div class="customer_bids">
    <div class="customer_bids_info">
        <div class="bid_title">абонементы</div>
        <div class="bid_info">0</div>
    </div>
    <div  @click="open = !open" class="customer_bids_info">
        <div class="bid_title">записи на занятия</div>
        <div class="bid_info">{{all_bids_count}}</div>
    </div>

</div>
<div x-show="open" @click.outside="open = false" x-transition.duration.300ms class="customer_bids_wrapper">
    Мои записи
    {% for bid in bids %}
    <div class="customer_bid_wrapper">
        <div class="customer_bid_item ">{{bid.customer.first_name}}</div>
        <div class="customer_bid_item">{{bid.date|date:"d.m"}}</div>
        <div class="customer_bid_item">{{bid.time}}</div>
        <div class="customer_bid_item">{{bid.worker.first_name}}</div>
    </div>
  
    {% endfor %}
   
    
</div>


<div class="customer_buttons">
    <div class="customer_button">Заказать абонемент</div>
    <div class="customer_button">Записаться на занятие</div>
</div>
<div class="offers_info">
<p class="check_offers" >справка</p>
<p class="check_offers" >договор</p>
</div>
<button class="btn" onclick="location.href='{% url 'logout' %}'" >выйти</button>


{% endif %}

</div>
{% endblock content %}