<nav id='menu'>
  <input class='my_input' type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='{% url "profile" %}'>Расписание</a></li>
    <!-- <li><a class='dropdown-arrow' href='http://'>Заявки</a>
      <ul class='sub-menus'>
        <li><a href='http://'>Новые</a></li>
        <li><a href='http://'>Все</a></li>
        <li><a href='http://'>Отмененные</a></li>

      </ul>
    </li> -->
    <li><a href='http://'>Новые заявки</a></li>
    <li><a href='http://'>Записать клиента</a></li>


    <li><a href='http://'>Добавить клиента</a></li>
    <li><a href='http://'>Статистика</a></li>
  </ul>
</nav>