{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{favicon.image.url}}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/main.css' %}" />
    {% block extra_css %}{% endblock extra_css %}
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    
<div class="all_content_wrapper">
{% block content %}


{% endblock content %}
<script type="text/javascript" defer src='{% static  "core/js/htmx.js" %}'></script>
<script type="text/javascript" defer src='{% static  "core/js/alpine.js" %}'></script>
</div>

</body>
</html>